@{
    ViewBag.Title = "Home Page";
}


<div class="jumbotron">
    <h1>Vaga LivrE</h1>
    <p class="lead">Facilidade que cabe na palma na da mão, mais que uma aplicação uma solução para sua vida e agilidade para todos</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Saiba mais &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Para você Usuario</h2>
        <p>
            Utiliza nosso aplicativo e encontre vagas e estacionamento ao seu redor com facilidade, esta em suas mãos.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Saiba mais &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Para Você Estacionamento</h2>
        <p>Divulgue seu estacionamento em nossa plataforma informando endereço, numero de vagas seja nosso parceiro</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Saiba mais &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Cases Sucesso!</h2>
        <p>Mais que um produto uma solução de inovação de mercado</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Saiba mais &raquo;</a></p>
    </div>
